<!doctype html>
<html>

<head>
    <title>NAPE Visualization Tool | Photon2 | Tab 1</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="https://www.ehs.washington.edu/sites/all/themes/ehs_subtheme/favicon.ico">
    <link rel="stylesheet" type="text/css" href="{{url_for('.static', filename='style.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('.static', filename='navbar.css')}}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="navbar">
        <a href="/">Photometry</a>
        <div class="dropdown">
            <button class="dropbtn">2-Photon
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="/photon2/tab1" class="active">Tab 1</a>
                <a href="/photon2/tab2">Tab 2</a>
                <a href="/photon2/tab3">Tab 3</a>
            </div>
        </div>
    </div>

    <h1>NAPE Visualization Tool</h1>

    <div class="container larger-grid">
        <form action="{{ url_for('photon2_tab1') }}" method="post" enctype="multipart/form-data" class="box box-inputs">
            <div style="margin: 10px;">
                <div class="row">
                    <div>
                        <label for="f">Upload f.npy:</label><br>
                        <input type="file" id="f" name="f"><br><br>

                        <label for="fneu">Upload fneu.npy</label><br>
                        <input type="file" id="fneu" name="fneu"><br><br>

                        <label for="iscell">Upload iscell.npy</label><br>
                        <input type="file" id="iscell" name="iscell"><br><br>

                        <label for="ops">Upload ops.npy</label><br>
                        <input type="file" id="ops" name="ops"><br><br>

                        <label for="spks">Upload spks.npy</label><br>
                        <input type="file" id="spks" name="spks"><br><br>

                        <label for="stat">Upload stat.npy</label><br>
                        <input type="file" id="stat" name="stat"><br><br>
                    </div>
                    <div>
                        <label for="folder">OR Upload a folder containing all these files:</label>
                        <p class="description">Files must be named exactly as the left</p>
                        <input name="folder" type="file" id="files" multiple="" directory="" webkitdirectory=""
                            mozdirectory=""><br><br>
                    </div>
                </div>
                <hr />
                <label for="show_labels">Show Labels:</label><br>
                <input type="checkbox" id="show_labels" name="show_labels" value="{{ fparams['show_labels'] }}"><br><br>

                <label for="tseries_start_end">T-series Start to End:</label>
                <p class="description">Set to "None" will plot the whole session</p>
                <input type="text" id="tseries_start_end" name="tseries_start_end"
                    value="{{ fparams['tseries_start_end'] }}" required><br><br>

                <label for="rois_to_plot">ROIs to Plot:</label>
                <p class="description">This can be a list of select ROIs (Format: 1,2,3), an integer n containing the first n ROIs to
                    plot, or "None" to plot all valid ROIs</p>
                <input type="text" id="rois_to_plot" name="rois_to_plot" value="{{ fparams['rois_to_plot'] }}"
                    required><br><br>

                <div class="flex"><input type="submit" value="Submit" /></div>
            </div>
        </form>
        {% if graph1 %}
            <div class="box" style="padding: 0;">
                <div id="chart1-container" style="padding: 10px;"><img src='data:image/png;base64,{{ graph1 | safe }}' width="100%" height="auto"/></div>
            </div>
        {% endif %}
        {% if graph2JSON %}
            <div class="box" style="padding: 0;">
                <div id="chart2-container"></div>
            </div>
        {% endif %}
        {% if graph3JSON %}
            <div class="box" style="padding: 0;">
                <div id="chart3-container"></div>
            </div>
        {% endif %}
    </div>
    <br />

    <script type="text/javascript">
        // Get graph JSON from Flask backend
        var graph2JSON = {{ graph2JSON | safe }};

        if (graph2JSON != NaN) {
            Plotly.react('chart2-container', graph2JSON.data, graph2JSON.layout, { displayModeBar: true });
        }

        var graph3JSON = {{ graph3JSON | safe }};

        if (graph3JSON != NaN) {
            Plotly.react('chart3-container', graph3JSON.data, graph3JSON.layout, { displayModeBar: true });
        }
    </script>
</body>

</html>