<!doctype html>
<html>

<head>
    <title>NAPE Visualizer | Whole Session</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="https://www.ehs.washington.edu/sites/all/themes/ehs_subtheme/favicon.ico">
    <link rel="stylesheet" type="text/css" href="{{url_for('.static', filename='style.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('.static', filename='navbar.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('.static', filename='tooltip.css')}}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.5/jszip.min.js"></script>
</head>

<body>
    <div class="navbar">
        <a href="/" class="pagetitle">Nape Visualizer</a>
        <a href="/">Photometry</a>
        <div class="dropdown">
            <button class="dropbtn">2-Photon
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="/photon2/tab1">Suite2P ROI Trace</a>
                <a href="/photon2/tab2" class="active">Whole Session</a>
                <a href="/photon2/tab3">Event Analysis</a>
                <a href="/photon2/tab4">Event Clustering</a>
                <a href="/photon2/tab5">Plot Activity Clustering</a>
            </div>
        </div>
    </div>

    <h1>NAPE Visualizer</h1>
    <h2>Whole Session</h2>

    {% if graphJSON %}
    <div class="flex">
        <button id="downloadAllButton">Download All Graphs</button>
    </div>
    {% endif %}

    <div class="container larger-grid">
        <form action="{{ url_for('photon2_tab2') }}" method="post" enctype="multipart/form-data" class="box">
            <div style="margin: 10px;">
                <label for="signals_file_extension">Signals File Extension:</label>
                <select name="signals_file_extension" id="signals_file_extension" selected="{{ fparams['signals_file_extension'] }}" required>
                    <option value=".csv">.csv</option>
                    <option value=".npy">.npy</option>
                </select><br><br>

                <label for="event_file_extension">Event File Extension:</label>
                <select name="event_file_extension" id="event_file_extension" selected="{{ fparams['event_file_extension'] }}" required>
                    <option value=".csv">.csv</option>
                    <option value=".pkl">.pkl</option>
                </select><br><br>

                <div class="row">
                    <div>
                        <label for="signals">Upload signals file:</label><br>
                        <input type="file" id="signals" name="signals"><br><br>

                        <label for="event">Upload event file:</label><br>
                        <input type="file" id="events" name="event"><br><br>
                    </div>
                    <div>
                        <label for="folder">OR Upload a folder containing all these files:</label>
                        <p class="description">File name should contain "signals" or "event"</p>
                        <input name="folder" type="file" id="files" multiple="" directory="" webkitdirectory=""
                            mozdirectory=""><br><br>
                    </div>
                </div>

                <hr />

                <label for="fs" class="tooltip-right" data-tooltip="I'm the tooltip text.">Sampling Rate:</label><br>
                <input type="number" id="fs" name="fs" value="{{ fparams['fs'] }}" required><br><br>

                <label for="opto_blank_frame" class="tooltip-right" data-tooltip="I'm the tooltip text.">Opto Blank Frame:</label>
                <p class="description">If PMTs were blanked during stim, set stim times to NaN (instead of 0)</p>
                <input type="checkbox" id="opto_blank_frame" name="opto_blank_frame" {% if fparams['opto_blank_frame'] %}checked{% endif %}><br><br>

                <label for="num_rois" class="tooltip-right" data-tooltip="I'm the tooltip text.">Number of Rois:</label>
                <p class="description">Set to "all" if want to show all cells</p>
                <input type="text" id="num_rois" name="num_rois" value="{{ fparams['num_rois'] }}" required><br><br>

                <label for="selected_conditions" class="tooltip-right" data-tooltip="I'm the tooltip text.">Selected Conditions:</label>
                <p class="description">Set to "None" if want to include all conditions from behavior data</p>
                <input type="text" id="selected_conditions" name="selected_conditions"
                    value="{{ fparams['selected_conditions'] }}" required><br><br>

                <label for="flag_normalization" class="tooltip-right" data-tooltip="I'm the tooltip text.">Normalization:</label>
                <select name="flag_normalization" id="flag_normalization" selected="{{ fparams['flag_normalization'] }}"
                    required>
                    <option value="dff_perc">dff_perc</option>
                    <option value="dff">dff</option>
                    <option value="zscore">zscore</option>
                    <option value="None">None</option>
                </select><br><br>

                <div class="flex"><input type="submit" value="Submit" /></div>
            </div>
        </form>
        {% if graphJSON %}
            <div class="box" style="padding: 0;">
                <div id="chart-container"></div>
            </div>
        {% endif %}
    </div>
    <br />

    <script type="text/javascript">
        var graphJSON = {{ graphJSON | safe }};

        if (graphJSON != NaN) {
            Plotly.react('chart-container', graphJSON.data, graphJSON.layout, { displayModeBar: true });
        }

        document.getElementById("downloadAllButton").addEventListener("click", async function () {
            var zip = new JSZip();

            // Add graph2JSON
            var graphImgDataUrl = await Plotly.toImage('chart-container');
            zip.file("graph.png", graphImgDataUrl.split(',')[1], { base64: true });

            // Generate and download the zip file
            zip.generateAsync({ type: "blob" }).then(function (content) {
                var url = URL.createObjectURL(content);
                var link = document.createElement("a");
                link.href = url;
                link.download = "graphs.zip";
                link.click();
            });
        });
    </script>
</body>

</html>