<!doctype html>
<html>

<head>
    <title>NAPE Visualization Tool | Photon2 | Tab 3</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="https://www.ehs.washington.edu/sites/all/themes/ehs_subtheme/favicon.ico">
    <link rel="stylesheet" type="text/css" href="{{url_for('.static', filename='style.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('.static', filename='navbar.css')}}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="navbar">
        <a href="/">Photometry</a>
        <div class="dropdown">
            <button class="dropbtn">2-Photon
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="/photon2/tab1">Suite2P ROI Trace</a>
                <a href="/photon2/tab2">Whole Session</a>
                <a href="/photon2/tab3" class="active">Event Analysis</a>
                <a href="/photon2/tab4">Event Clustering</a>
            </div>
        </div>
    </div>

    <h1>NAPE Visualization Tool</h1>

    <div class="container single-grid">
        <form action="{{ url_for('photon2_tab3') }}" method="post" enctype="multipart/form-data" class="box">
            <div style="margin: 10px;">
                <div class="row">
                    <div>
                        <label for="signals">Upload signals.csv:</label><br>
                        <input type="file" id="signals" name="signals"><br><br>

                        <label for="events">Upload events.csv:</label><br>
                        <input type="file" id="events" name="events"><br><br>
                    </div>
                    <div>
                        <label for="folder">OR Upload a folder containing all these files:</label>
                        <p class="description">Files must be named exactly as the left</p>
                        <input name="folder" type="file" id="files" multiple="" directory="" webkitdirectory=""
                            mozdirectory=""><br><br>
                    </div>
                </div>

                <hr />

                <div class="row">
                    <div>
                        <label for="fs">Sampling Rate:</label><br>
                        <input type="number" id="fs" name="fs" value="{{ fparams['fs'] }}" required><br><br>

                        <label for="selected_conditions">Selected Conditions:</label>
                        <p class="description">Set to "None" if want to include all conditions from behavior data,
                            otherwise make it a list (Format: item,item2)</p>
                        <input type="text" id="selected_conditions" name="selected_conditions"
                            value="{{ fparams['selected_conditions'] }}" required><br><br>

                        <label for="trial_start_end">Trial Start and End:</label>
                        <p class="description">Set to "None" will plot the whole session, otherwise make a list (Format:
                            1,2)</p>
                        <input type="text" id="trial_start_end" name="trial_start_end"
                            value="{{ fparams['trial_start_end'] }}" required><br><br>

                        <label for="flag_normalization">Normalization:</label>
                        <p class="description">zscore or None</p>
                        <input type="text" id="flag_normalization" name="flag_normalization"
                            value="{{ fparams['flag_normalization'] }}" required><br><br>

                        <label for="baseline_end">Baseline End:</label>
                        <p class="description">Baseline epoch end time (in seconds) for performing baseline
                            normalization</p>
                        <input type="text" id="baseline_end" name="baseline_end" value="{{ fparams['baseline_end'] }}"
                            required><br><br>

                        <label for="event_dur">Event Duration:</label>
                        <p class="description">Duration of stim/event in seconds. Displays a line below main plot
                            indicating event duration</p>
                        <input type="number" id="event_dur" name="event_dur" value="{{ fparams['event_dur'] }}"
                            required><br><br>

                        <label for="opto_blank_frame">Opto Blank Frame:</label>
                        <p class="description">If PMTs were blanked during stim, set stim times to None
                        </p>
                        <input type="checkbox" id="opto_blank_frame" name="opto_blank_frame" {% if fparams['opto_blank_frame'] %}checked{% endif %}><br><br>

                        <label for="data_trial_resolved_key">Trial Resolved Key:</label><br />
                        <input type="text" id="data_trial_resolved_key" name="data_trial_resolved_key"
                            value="{{ fparams['data_trial_resolved_key'] }}" required><br><br>
                    </div>

                    <div>
                        <label for="flag_sort_rois">Sort ROIs:</label>
                        <p class="description">If true, ROIs are sorted by activity</p>
                        <input type="checkbox" id="flag_sort_rois" name="flag_sort_rois" {% if fparams['flag_sort_rois']  %}checked{% endif %}><br><br>

                        <label for="event_sort_analysis_win">Event Sort Analysis Window:</label>
                        <p class="description">Time window (in seconds); Format: 1,2</p>
                        <input type="text" id="event_sort_analysis_win" name="event_sort_analysis_win"
                            value="{{ fparams['event_sort_analysis_win'] }}" required><br><br>

                        <label for="user_sort_method">User Sort Method:</label>
                        <p class="description">peak_time or max_value</p>
                        <input type="text" id="user_sort_method" name="user_sort_method"
                            value="{{ fparams['user_sort_method'] }}" required><br><br>

                        <label for="roi_sort_cond">ROI Sort Condition:</label>
                        <p class="description">For roi-resolved heatmaps, which condition to sort ROIs by</p>
                        <input type="text" id="roi_sort_cond" name="roi_sort_cond"
                            value="{{ fparams['roi_sort_cond'] }}" required><br><br>

                        <label for="flag_roi_trial_avg_errbar">ROI Trial Average Error Bar</label>
                        <p class="description">Toggle to show error bar on roi- and trial-averaged traces</p>
                        <input type="checkbox" id="flag_roi_trial_avg_errbar" name="flag_roi_trial_avg_errbar" {% if fparams['flag_roi_trial_avg_errbar']  %}checked{% endif %}><br><br>

                        <label for="flag_trial_avg_errbar">Trial Average Error Bar:</label>
                        <p class="description">Toggle to show error bars on the trial-avg traces</p>
                        <input type="checkbox" id="flag_trial_avg_errbar" name="flag_trial_avg_errbar" {% if fparams['flag_trial_avg_errbar'] %}checked{% endif %}><br><br>

                        <label for="interesting_rois">Interesting ROIs:</label>
                        <p class="description">Should be in a list in the following format: 1,2</p>
                        <input type="text" id="interesting_rois" name="interesting_rois"
                            value="{{ fparams['interesting_rois'] }}" required><br><br>

                        <label for="data_trial_avg_key">Trial Average Key:</label><br />
                        <input type="text" id="data_trial_avg_key" name="data_trial_avg_key"
                            value="{{ fparams['data_trial_avg_key'] }}" required><br><br>

                        <label for="cmap_">CMAP:</label><br />
                        <input type="text" id="cmap_" name="cmap_" value="{{ fparams['cmap_'] }}" required><br><br>

                        <label for="ylabel">Y-Axis Label:</label><br />
                        <input type="text" id="ylabel" name="ylabel" value="{{ fparams['ylabel'] }}" required><br><br>
                    </div>
                </div>

                <div class="flex"><input type="submit" value="Submit" /></div>
            </div>
        </form>
        {% if num_rois > 0 %}
        <div class="box">
            <div>
                <select id="roi-selection" style="margin: 10px;">
                    <option value="total">Total</option>
                    {% for n in range(num_rois) %}
                    <option value="{{n}}">ROI {{n}}</option>
                    {% endfor %}
                </select>
            </div>
            <div id="chart" style="padding: 0;"></div>
        </div>
        {% endif %}
    </div>
    <br />

    <script type="text/javascript">
        var select = document.getElementById("roi-selection");
        var graphList = {{ graphs | safe }}
        var chart = document.getElementById("chart");

        function showGraphs() {
            try {
                var selectedROI = Number(select.value);
                chart.innerHTML = `<div id="chart1-container" style="padding: 20px;"><img src='data:image/png;base64,${graphList[selectedROI].heatmap}' width="100%" height="auto"/></div><div id="chart2-container" style="padding: 20px;"><img src='data:image/png;base64,${graphList[selectedROI].linegraph}' width="50%" height="auto"/></div>`;
            } catch (e) {
                var lastElement = graphList[graphList.length - 1];
                chart.innerHTML = `<div id="chart1-container" style="padding: 20px;"><img src='data:image/png;base64,${lastElement.heatmap}' width="100%" height="auto"/></div><div id="chart2-container" style="padding: 20px;"><img src='data:image/png;base64,${lastElement.linegraph}' width="50%" height="auto"/></div><div id="chart3-container" style="padding: 20px;"><img src='data:image/png;base64,${lastElement.bargraph}' width="50%" height="auto"/></div>`;
            }
        }

        select.addEventListener("change", showGraphs)
        showGraphs();
    </script>
</body>

</html>