<!doctype html>
<html>

<head>
    <title>NAPE Visualizer | Event Clustering</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="https://www.ehs.washington.edu/sites/all/themes/ehs_subtheme/favicon.ico">
    <link rel="stylesheet" type="text/css" href="{{url_for('.static', filename='style.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('.static', filename='navbar.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('.static', filename='tooltip.css')}}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="navbar">
        <a href="/" class="pagetitle">Nape Visualizer</a>
        <a href="/">Photometry</a>
        <div class="dropdown">
            <button class="dropbtn">2-Photon
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="/photon2/tab1">Suite2P ROI Trace</a>
                <a href="/photon2/tab2">Whole Session</a>
                <a href="/photon2/tab3">Event Analysis</a>
                <a href="/photon2/tab4" class="active">Event Clustering</a>
            </div>
        </div>
    </div>

    <h1>NAPE Visualizer</h1>
    <h2>Event Clustering</h2>

    <div class="container larger-grid">
        <form action="{{ url_for('photon2_tab4') }}" method="post" enctype="multipart/form-data" class="box">
            <div style="margin: 10px;">
                <label for="file_extension">File Extension:</label>
                <select name="file_extension" id="file_extension" selected="{{ fparams['file_extension'] }}" required>
                    <option value=".csv,.csv">.csv</option>
                    <option value=".npy,.pkl">.npy/.pkl</option>
                </select><br><br>

                <div class="row">
                    <div>
                        <label for="signals">Upload signals file:</label><br>
                        <input type="file" id="signals" name="signals"><br><br>

                        <label for="event">Upload event file:</label><br>
                        <input type="file" id="events" name="event"><br><br>
                    </div>
                    <div>
                        <label for="folder">OR Upload a folder containing all these files:</label>
                        <p class="description">File name should contain "signals" or "event"</p>
                        <input name="folder" type="file" id="files" multiple="" directory="" webkitdirectory=""
                            mozdirectory=""><br><br>
                    </div>
                </div>

                <hr />

                <label for="fs" class="tooltip-right" data-tooltip="I'm the tooltip text.">Sampling Rate:</label>
                <p class="description">Sampling rate of the activity data</p>
                <input type="number" id="fs" name="fs" value="{{ fparams['fs'] }}" required><br><br>

                <label for="trial_start_end" class="tooltip-right" data-tooltip="I'm the tooltip text.">Trial Start and End:</label>
                <p class="description">In seconds. Make a list in the following format: starttime,endtime</p>
                <input type="text" id="trial_start_end" name="trial_start_end" value="{{ fparams['trial_start_end'] }}"
                    required><br><br>

                <label for="baseline_end" class="tooltip-right" data-tooltip="I'm the tooltip text.">Baseline End:</label>
                <p class="description">Baseline epoch end time (in seconds) for performing baseline normalization</p>
                <input type="text" id="baseline_end" name="baseline_end" value="{{ fparams['baseline_end'] }}"
                    required><br><br>

                <label for="event_sort_analysis_win" class="tooltip-right" data-tooltip="I'm the tooltip text.">Event Sort Analysis Window:</label>
                <p class="description">Time window (in seconds); Format: 1,2</p>
                <input type="text" id="event_sort_analysis_win" name="event_sort_analysis_win"
                    value="{{ fparams['event_sort_analysis_win'] }}" required><br><br>

                <label for="pca_num_pc_method" class="tooltip-right" data-tooltip="I'm the tooltip text.">PCA Number of PC Method:</label>
                <p class="description">0 for bend in scree plot, 1 for num PCs that account for 90% variance</p>
                <input type="number" id="pca_num_pc_method" name="pca_num_pc_method"
                    value="{{ fparams['pca_num_pc_method'] }}" required><br><br>

                <label for="max_n_clusters" class="tooltip-right" data-tooltip="I'm the tooltip text.">Maximum Number of Clusters:</label>
                <p class="description">Should be based on the number of functional neuron groups you expect + ~3</p>
                <input type="number" id="max_n_clusters" name="max_n_clusters" value="{{ fparams['max_n_clusters'] }}"
                    required><br><br>

                <label for="possible_n_nearest_neighbors" class="tooltip-right" data-tooltip="I'm the tooltip text.">Possible N Nearest Neighbors:</label>
                <p class="description">Provides an idea of where the algorithm should focus</p>
                <input type="text" id="possible_n_nearest_neighbors" name="possible_n_nearest_neighbors"
                    value="{{ fparams['possible_n_nearest_neighbors'] }}" required><br><br>

                <label for="selected_conditions" class="tooltip-right" data-tooltip="I'm the tooltip text.">Selected Conditions:</label>
                <p class="description">Set to "None" if want to include all conditions from behavior data, otherwise make it a list (Format: item,item2)</p>
                <input type="text" id="selected_conditions" name="selected_conditions"
                    value="{{ fparams['selected_conditions'] }}" required><br><br>

                <label for="flag_plot_reward_line" class="tooltip-right" data-tooltip="I'm the tooltip text.">Plot Reward Line:</label>
                <p class="description">If there's a second event that happens after the main event, it can be indicated if set to True</p>
                <input type="checkbox" id="flag_plot_reward_line" name="flag_plot_reward_line" {% if
                    fparams['flag_plot_reward_line'] %}checked{% endif %}><br><br>

                <label for="second_event_seconds" class="tooltip-right" data-tooltip="I'm the tooltip text.">Second Event Seconds:</label><br>
                <input type="number" id="second_event_seconds" name="second_event_seconds"
                    value="{{ fparams['second_event_seconds'] }}" required><br><br>

                <label for="heatmap_cmap_scaling" class="tooltip-right" data-tooltip="I'm the tooltip text.">Heatmap Cmap Scaling:</label><br>
                <input type="number" id="heatmap_cmap_scaling" name="heatmap_cmap_scaling"
                    value="{{ fparams['heatmap_cmap_scaling'] }}" required><br><br>

                <label for="group_data" class="tooltip-right" data-tooltip="I'm the tooltip text.">Group Data:</label>
                <p class="description">True if data loaded already has data from different conditions concatenated together. Set False if data directly from suite2p or sima/napeca preprocessing</p>
                <input type="checkbox" id="group_data" name="group_data" {% if fparams['group_data'] %}checked{% endif
                    %}><br><br>

                <label for="group_data_conditions" class="tooltip-right" data-tooltip="I'm the tooltip text.">Group Data Conditions:</label><br>
                <input type="text" id="group_data_conditions" name="group_data_conditions"
                    value="{{ fparams['group_data_conditions'] }}" required><br><br>

                <label for="sortwindow" class="tooltip-right" data-tooltip="I'm the tooltip text.">Sort Window:</label><br>
                <input type="text" id="sortwindow" name="sortwindow" value="{{ fparams['sortwindow'] }}"
                    required><br><br>
                
                <div class="flex"><input type="submit" value="Submit" /></div>
            </div>
        </form>
        {% if graph1JSON %}
            <div class="box" style="padding: 0;">
                <div id="chart1-container" style="margin-left: 5px;"></div>
            </div>
        {% endif %}
        {% if graphs %}
            {% for graph in graphs %}
            <div class="box">
                <div id="chart-container" style="padding: 20px;"><img src='data:image/png;base64,{{graph}}' width="100%" height="auto"/></div>
            </div>
            {% endfor %}
        {% endif %}
    </div>
    <br />

    <script type="text/javascript">
        var graph1JSON = {{ graph1JSON | safe }};

        if (graph1JSON != NaN) {
            Plotly.react('chart1-container', graph1JSON.data, graph1JSON.layout, { displayModeBar: true });
        }
    </script>
</body>

</html>