<!doctype html>
<html>

<head>
    <!-- Plotly.js -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>

    <h1>Plotly Chart Example</h1>

    <!-- The container for the plotly chart -->
    <div id="chart-container"></div>

    <script type="text/javascript">
        // Get the graph data from the Flask app
        var graphJSON = {{ graphJSON | safe }};

        // Render the Plotly chart inside the container
        Plotly.react('chart-container', graphJSON.data, graphJSON.layout);
    </script>

</body>

</html>
