<!doctype html>
<html>
    <head>
        <title>NAPE Visualization Tool</title>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        
        <link rel="shortcut icon" href="{{url_for('.static', filename='uwlogo.jpg')}}">
        <link rel="stylesheet"  type="text/css" href="{{url_for('.static', filename='style.css')}}">
        <link rel="stylesheet"  type="text/css" href="{{url_for('.static', filename='navbar.css')}}">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="navbar">
            <a href="/" class="active">Photometry</a>
            <div class="dropdown">
                <button class="dropbtn">2-Photon
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="/2photon/tab1">Tab 1</a>
                    <a href="/2photon/tab2">Tab 2</a>
                </div>
            </div>
        </div>
    
        <h1>NAPE Visualization Tool</h1>

        <p style="text-align: center;">Page not built yet</p>
    </body>
</html>
