<!doctype html>
<html>
    <head>
        <title>NAPE Visualization Tool</title>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        
        <link rel="shortcut icon" href="{{url_for('.static', filename='uwlogo.jpg')}}">
        <link rel="stylesheet"  type="text/css" href="{{url_for('.static', filename='style.css')}}">
        <link rel="stylesheet"  type="text/css" href="{{url_for('.static', filename='navbar.css')}}">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    </head>
    <body>
        <h1>NAPE Visualization Tool</h1>

        <nav>
            <ul>
              <li class="active"><a href="/">Tab 1</a></li>
              <li><a href="/tab2">Tab 2</a></li>
            </ul>
        </nav>

        <div class="container">
            <form action="{{ url_for('tab1') }}" method="post" enctype="multipart/form-data" class="box">
                <label for="ff">Upload F.npy:</label><br>
                <input type="file" id="ff" name="ff" required><br><br>

                <label for="ffneu">Upload Fneu.npy</label><br>
                <input type="file" id="ffneu" name="ffneu" required><br><br>

                <label for="fiscell">Upload iscell.npy</label><br>
                <input type="file" id="fiscell" name="fiscell" required><br><br>

                <label for="fops">Upload ops.npy</label><br>
                <input type="file" id="fops" name="fops" required><br><br>

                <label for="fspks">Upload spks.npy</label><br>
                <input type="file" id="fspks" name="fspks" required><br><br>

                <label for="fstat">Upload stat.npy</label><br>
                <input type="file" id="fstat" name="fstat" required><br><br>

                <div class="flex"><input type="submit" value="Submit" /></div>
            </form> 
            <br /><br />
            <div class="box" style="padding: 0;">
                <div id="chart1-container"></div>
            </div>
            <br /><br />
            <div class="box" style="padding: 0;">
                <div id="chart2-container"></div>
            </div>
            <br /><br />
            <div class="box" style="padding: 0;">
                <div id="chart3-container"></div>
            </div>
        </div>
        <br />

        <script type="text/javascript">
            // Get the graph data from the Flask app
            var graph1JSON = {{ graph1JSON | safe }};

            if (graph1JSON != NaN) {
                Plotly.react('chart1-container', graph1JSON.data, graph1JSON.layout, {displayModeBar: true});
            }

            var graph2JSON = {{ graph2JSON | safe }};

            if (graph2JSON != NaN) {
                Plotly.react('chart2-container', graph2JSON.data, graph2JSON.layout, {displayModeBar: true});
            }

            var graph3JSON = {{ graph3JSON | safe }};

            if (graph3JSON != NaN) {
                Plotly.react('chart3-container', graph3JSON.data, graph3JSON.layout, {displayModeBar: true});
            }
        </script>
    </body>
</html>
