<!doctype html>
<html>
    <head>
        <title>NAPE Visualization Tool</title>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        
        <link rel="shortcut icon" href="{{url_for('.static', filename='uwlogo.jpg')}}">
        <link rel="stylesheet"  type="text/css" href="{{url_for('.static', filename='style.css')}}">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    </head>
    <body>
        <h1>NAPE Visualization Tool</h1>

        <div class="container">
            <form action="{{ url_for('index') }}" method="post" enctype="multipart/form-data">
                <label for="fsignal">Upload Signal CSV:</label><br>
                <input type="file" id="fsignal" name="fsignal" required><br><br>

                <label for="fevents">Upload Events CSV:</label><br>
                <input type="file" id="fevents" name="fevents" required><br><br>

                <label for="fs">Sampling Rate:</label><br>
                <input type="number" id="fs" name="fs" value="{{ fparams['fs'] }}" required><br><br>

                <label for="opto_blank_frame">opto_blank_frame (if PMTs were blanked during stim, set stim times to nan (instead of 0)):</label><br>
                <input type="checkbox" id="opto_blank_frame" name="opto_blank_frame" value="{{ fparams['opto_blank_frame'] }}"><br><br>

                <label for="num_rois">num_rois (set to 'all' if want to show all cells):</label><br>
                <input type="text" id="num_rois" name="num_rois" value="{{ fparams['num_rois'] }}" required><br><br>

                <label for="selected_conditions">selected_conditions (set to None if want to include all conditions from behav data):</label><br>
                <input type="text" id="selected_conditions" name="selected_conditions" value="{{ fparams['selected_conditions'] }}" required><br><br>

                <label for="flag_normalization">flag_normalization:</label>
                <select name="flag_normalization" id="flag_normalization" selected="{{ fparams['flag_normalization'] }}" required>
                    <option value="dff_perc">dff_perc</option>
                    <option value="dff">dff</option>
                    <option value="zscore">zscore</option>
                    <option value="None">None</option>
                </select><br><br>

                <input type="submit" value="Submit" />
            </form> 
        
            <!-- The container for the plotly chart -->
            <div id="chart-container"></div>
        </div>

        <script type="text/javascript">
            // Get the graph data from the Flask app
            var graphJSON = {{ graphJSON | safe }};

            if (graphJSON != NaN) {
                Plotly.react('chart-container', graphJSON.data, graphJSON.layout);
            }
        </script>
    </body>
</html>
