<!doctype html>
<html>

<head>
    <title>NAPE Visualization Tool</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="https://www.ehs.washington.edu/sites/all/themes/ehs_subtheme/favicon.ico">
    <link rel="stylesheet" type="text/css" href="{{url_for('.static', filename='style.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('.static', filename='navbar.css')}}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="navbar">
        <a href="/">Photometry</a>
        <div class="dropdown">
            <button class="dropbtn">2-Photon
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="/2photon/tab1" class="active">Tab 1</a>
                <a href="/2photon/tab2">Tab 2</a>
            </div>
        </div>
    </div>

    <h1>NAPE Visualization Tool</h1>

    <div class="container">
        <form action="{{ url_for('photon2_tab1') }}" method="post" enctype="multipart/form-data" class="box box-inputs">
            <div style="margin: 10px;">
                <div class="row">
                    <div>
                        <label for="ff">Upload f.npy:</label><br>
                        <input type="file" id="ff" name="ff"><br><br>

                        <label for="ffneu">Upload fneu.npy</label><br>
                        <input type="file" id="ffneu" name="ffneu"><br><br>

                        <label for="fiscell">Upload iscell.npy</label><br>
                        <input type="file" id="fiscell" name="fiscell"><br><br>

                        <label for="fops">Upload ops.npy</label><br>
                        <input type="file" id="fops" name="fops"><br><br>

                        <label for="fspks">Upload spks.npy</label><br>
                        <input type="file" id="fspks" name="fspks"><br><br>

                        <label for="fstat">Upload stat.npy</label><br>
                        <input type="file" id="fstat" name="fstat"><br><br>
                    </div>
                    <div>
                        <label for="ffolder">OR Upload a folder containing all these files:</label>
                        <p class="description">Files must be named exactly as the left</p>
                        <input name="ffolder" type="file" id="files" multiple="" directory="" webkitdirectory=""
                            mozdirectory=""><br><br>
                    </div>
                </div>
                <hr />
                <label for="show_labels">Show Labels:</label><br>
                <input type="checkbox" id="show_labels" name="show_labels" value="{{ fparams['show_labels'] }}"><br><br>

                <label for="tseries_start_end">T-series Start to End:</label>
                <p class="description">Set to "None" will plot the whole session</p>
                <input type="text" id="tseries_start_end" name="tseries_start_end"
                    value="{{ fparams['tseries_start_end'] }}" required><br><br>

                <label for="rois_to_plot">ROIs to Plot:</label>
                <p class="description">This can be a list of select ROIs, an integer n containing the first n ROIs to
                    plot, or "None" to plot all valid ROIs</p>
                <input type="text" id="rois_to_plot" name="rois_to_plot" value="{{ fparams['rois_to_plot'] }}"
                    required><br><br>

                <div class="flex"><input type="submit" value="Submit" /></div>
            </div>
        </form>
        <br /><br />
        <div class="box" style="padding: 0;">
            <div id="chart1-container"></div>
        </div>
        <br /><br />
        <div class="box" style="padding: 0;">
            <div id="chart2-container"></div>
        </div>
        <br /><br />
        <div class="box" style="padding: 0;">
            <div id="chart3-container"></div>
        </div>
    </div>
    <br />

    <script type="text/javascript">
        // Get the graph data from the Flask app
        var graph1JSON = {{ graph1JSON | safe }};

        if (graph1JSON != NaN) {
            Plotly.react('chart1-container', graph1JSON.data, graph1JSON.layout, { displayModeBar: true });
        }

        var graph2JSON = {{ graph2JSON | safe }};

        if (graph2JSON != NaN) {
            Plotly.react('chart2-container', graph2JSON.data, graph2JSON.layout, { displayModeBar: true });
        }

        var graph3JSON = {{ graph3JSON | safe }};

        if (graph3JSON != NaN) {
            Plotly.react('chart3-container', graph3JSON.data, graph3JSON.layout, { displayModeBar: true });
        }
    </script>
</body>

</html>